@import 'variable.styl'

body, html {
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    user-select text
    -webkit-tap-highlight-color transparent
    font-size $text-size-sm
    background #fff
    overflow-x hidden
    color #333
}

a {
    color #333
    text-decoration none
}

.clearfix {
    &:after {
        clear both
        content '.'
        display block
        width 0
        height 0
        visibility hidden
    }
}

.fl {
    float left
}

.fr {
    float right
}

.pr {
    position relative
}

.pa {
    position absolute
}

.section {
    padding 150px 0
}

.t-center {
    text-align center
}

.t-right {
    text-align right
}

.container {
    position relative
    margin 0 auto
    width 1200px
}

@media only screen and (max-width: $screen-xl-min) {
    .container {
        width 90%
    }
}
