//color
$c1=#ed5634
$cf=#fff
$fa=#fafafa
$f5=#f5f5f5
$f0=#f0f0f0
$ee=#eee
$success=#67c23a
$warning=#e6a23c
$danger=#f56c6c
$info=#909399
$primary=#409EFF
//fontsize
$text-size-xl=20px
$text-size-lg=18px
$text-size-md=16px
$text-size-sm=14px
$text-size-xs=12px

// Screen size breakpoints
$screen-xs-min= 374px;
$screen-sm-min= 767px;
$screen-xl-min= 1440px;